<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inz.about.dao.DiaryFileMapper">
    <resultMap id="BaseResultMap" type="com.inz.about.model.DiaryFile">
        <id column="mapper_id" jdbcType="VARCHAR" property="mapperId"/>
        <result column="diary_id" jdbcType="VARCHAR" property="diaryId"/>
        <result column="file_id" jdbcType="VARCHAR" property="fileId"/>
        <result column="mapper_order" jdbcType="DECIMAL" property="mapperOrder"/>
        <result column="mapper_memo" jdbcType="VARCHAR" property="mapperMemo"/>
        <result column="enable" jdbcType="VARCHAR" property="enable"/>
        <result column="create_datetime" jdbcType="TIMESTAMP" property="createDatetime"/>
        <result column="update_datetime" jdbcType="TIMESTAMP" property="updateDatetime"/>
    </resultMap>
    <sql id="Base_Column_List">
    mapper_id, diary_id, file_id, mapper_order, mapper_memo, enable, create_datetime, 
    update_datetime
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from diary_file
        where mapper_id = #{mapperId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from diary_file
    where mapper_id = #{mapperId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.inz.about.model.DiaryFile">
    insert into diary_file (mapper_id, diary_id, file_id, 
      mapper_order, mapper_memo, enable, 
      create_datetime, update_datetime)
    values (#{mapperId,jdbcType=VARCHAR}, #{diaryId,jdbcType=VARCHAR}, #{fileId,jdbcType=VARCHAR}, 
      #{mapperOrder,jdbcType=DECIMAL}, #{mapperMemo,jdbcType=VARCHAR}, #{enable,jdbcType=VARCHAR}, 
      #{createDatetime,jdbcType=TIMESTAMP}, #{updateDatetime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.inz.about.model.DiaryFile">
        insert into diary_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mapperId != null">
                mapper_id,
            </if>
            <if test="diaryId != null">
                diary_id,
            </if>
            <if test="fileId != null">
                file_id,
            </if>
            <if test="mapperOrder != null">
                mapper_order,
            </if>
            <if test="mapperMemo != null">
                mapper_memo,
            </if>
            <if test="enable != null">
                enable,
            </if>
            <if test="createDatetime != null">
                create_datetime,
            </if>
            <if test="updateDatetime != null">
                update_datetime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mapperId != null">
                #{mapperId,jdbcType=VARCHAR},
            </if>
            <if test="diaryId != null">
                #{diaryId,jdbcType=VARCHAR},
            </if>
            <if test="fileId != null">
                #{fileId,jdbcType=VARCHAR},
            </if>
            <if test="mapperOrder != null">
                #{mapperOrder,jdbcType=DECIMAL},
            </if>
            <if test="mapperMemo != null">
                #{mapperMemo,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                #{enable,jdbcType=VARCHAR},
            </if>
            <if test="createDatetime != null">
                #{createDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDatetime != null">
                #{updateDatetime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.inz.about.model.DiaryFile">
        update diary_file
        <set>
            <if test="diaryId != null">
                diary_id = #{diaryId,jdbcType=VARCHAR},
            </if>
            <if test="fileId != null">
                file_id = #{fileId,jdbcType=VARCHAR},
            </if>
            <if test="mapperOrder != null">
                mapper_order = #{mapperOrder,jdbcType=DECIMAL},
            </if>
            <if test="mapperMemo != null">
                mapper_memo = #{mapperMemo,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                enable = #{enable,jdbcType=VARCHAR},
            </if>
            <if test="createDatetime != null">
                create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDatetime != null">
                update_datetime = #{updateDatetime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where mapper_id = #{mapperId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.inz.about.model.DiaryFile">
    update diary_file
    set diary_id = #{diaryId,jdbcType=VARCHAR},
      file_id = #{fileId,jdbcType=VARCHAR},
      mapper_order = #{mapperOrder,jdbcType=DECIMAL},
      mapper_memo = #{mapperMemo,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=VARCHAR},
      create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      update_datetime = #{updateDatetime,jdbcType=TIMESTAMP}
    where mapper_id = #{mapperId,jdbcType=VARCHAR}
  </update>
    <!-- 通过文件ID查询 -->
    <select id="findByFileId" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM diary_file
        WHERE file_id = #{fileId, jdbcType=VARCHAR}
        ORDER BY mapper_order ASC
    </select>
    <!-- 通过日志ID查询 -->
    <select id="findByDiaryId" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM diary_file
        WHERE diary_id = #{diaryId, jdbcType=VARCHAR}
        ORDER BY mapper_order ASC
    </select>
    <!-- 通过日志ID，查询日志最后一个排序 -->
    <select id="findLastOrder" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT IFNULL(mapper_order, 0)
        FROM diary_file
        WHERE diary_id = #{diaryId, jdbcType=VARCHAR}
        ORDER BY mapper_order DESC
        LIMIT 0, 1
    </select>
</mapper>