<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inz.about.dao.PictureInfoMapper">
  <resultMap id="BaseResultMap" type="com.inz.about.model.PictureInfo">
    <id column="picture_id" jdbcType="VARCHAR" property="pictureId" />
    <result column="picture_path" jdbcType="VARCHAR" property="picturePath" />
    <result column="picture_sys" jdbcType="VARCHAR" property="pictureSys" />
    <result column="picture_url" jdbcType="VARCHAR" property="pictureUrl" />
    <result column="picture_size" jdbcType="DECIMAL" property="pictureSize" />
    <result column="picture_type" jdbcType="VARCHAR" property="pictureType" />
    <result column="picture_enable" jdbcType="VARCHAR" property="pictureEnable" />
    <result column="create_datetime" jdbcType="TIMESTAMP" property="createDatetime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    picture_id, picture_path, picture_sys, picture_url, picture_size, picture_type, picture_enable, 
    create_datetime, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from picture_info
    where picture_id = #{pictureId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from picture_info
    where picture_id = #{pictureId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.inz.about.model.PictureInfo">
    insert into picture_info (picture_id, picture_path, picture_sys, 
      picture_url, picture_size, picture_type, 
      picture_enable, create_datetime, update_time
      )
    values (#{pictureId,jdbcType=VARCHAR}, #{picturePath,jdbcType=VARCHAR}, #{pictureSys,jdbcType=VARCHAR}, 
      #{pictureUrl,jdbcType=VARCHAR}, #{pictureSize,jdbcType=DECIMAL}, #{pictureType,jdbcType=VARCHAR}, 
      #{pictureEnable,jdbcType=VARCHAR}, #{createDatetime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.inz.about.model.PictureInfo">
    insert into picture_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pictureId != null">
        picture_id,
      </if>
      <if test="picturePath != null">
        picture_path,
      </if>
      <if test="pictureSys != null">
        picture_sys,
      </if>
      <if test="pictureUrl != null">
        picture_url,
      </if>
      <if test="pictureSize != null">
        picture_size,
      </if>
      <if test="pictureType != null">
        picture_type,
      </if>
      <if test="pictureEnable != null">
        picture_enable,
      </if>
      <if test="createDatetime != null">
        create_datetime,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pictureId != null">
        #{pictureId,jdbcType=VARCHAR},
      </if>
      <if test="picturePath != null">
        #{picturePath,jdbcType=VARCHAR},
      </if>
      <if test="pictureSys != null">
        #{pictureSys,jdbcType=VARCHAR},
      </if>
      <if test="pictureUrl != null">
        #{pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="pictureSize != null">
        #{pictureSize,jdbcType=DECIMAL},
      </if>
      <if test="pictureType != null">
        #{pictureType,jdbcType=VARCHAR},
      </if>
      <if test="pictureEnable != null">
        #{pictureEnable,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null">
        #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.inz.about.model.PictureInfo">
    update picture_info
    <set>
      <if test="picturePath != null">
        picture_path = #{picturePath,jdbcType=VARCHAR},
      </if>
      <if test="pictureSys != null">
        picture_sys = #{pictureSys,jdbcType=VARCHAR},
      </if>
      <if test="pictureUrl != null">
        picture_url = #{pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="pictureSize != null">
        picture_size = #{pictureSize,jdbcType=DECIMAL},
      </if>
      <if test="pictureType != null">
        picture_type = #{pictureType,jdbcType=VARCHAR},
      </if>
      <if test="pictureEnable != null">
        picture_enable = #{pictureEnable,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null">
        create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where picture_id = #{pictureId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.inz.about.model.PictureInfo">
    update picture_info
    set picture_path = #{picturePath,jdbcType=VARCHAR},
      picture_sys = #{pictureSys,jdbcType=VARCHAR},
      picture_url = #{pictureUrl,jdbcType=VARCHAR},
      picture_size = #{pictureSize,jdbcType=DECIMAL},
      picture_type = #{pictureType,jdbcType=VARCHAR},
      picture_enable = #{pictureEnable,jdbcType=VARCHAR},
      create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where picture_id = #{pictureId,jdbcType=VARCHAR}
  </update>
</mapper>