<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inz.about.dao.TempEmailMapper">
    <resultMap id="BaseResultMap" type="com.inz.about.model.TempEmail">
        <id column="email_id" jdbcType="VARCHAR" property="emailId"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="e_key" jdbcType="VARCHAR" property="eKey"/>
        <result column="send_time" jdbcType="TIMESTAMP" property="sendTime"/>
        <result column="enable" jdbcType="VARCHAR" property="enable"/>
        <result column="change_timee_key" jdbcType="TIMESTAMP" property="changeTimeeKey"/>
    </resultMap>
    <sql id="Base_Column_List">
    email_id, user_id, email, e_key, send_time, enable, change_timee_key
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from temp_email
        where email_id = #{emailId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from temp_email
    where email_id = #{emailId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.inz.about.model.TempEmail">
    insert into temp_email (email_id, user_id, email, 
      e_key, send_time, enable, 
      change_timee_key)
    values (#{emailId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{eKey,jdbcType=VARCHAR}, #{sendTime,jdbcType=TIMESTAMP}, #{enable,jdbcType=VARCHAR}, 
      #{changeTimeeKey,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.inz.about.model.TempEmail">
        insert into temp_email
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="emailId != null">
                email_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="eKey != null">
                e_key,
            </if>
            <if test="sendTime != null">
                send_time,
            </if>
            <if test="enable != null">
                enable,
            </if>
            <if test="changeTimeeKey != null">
                change_timee_key,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="emailId != null">
                #{emailId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="eKey != null">
                #{eKey,jdbcType=VARCHAR},
            </if>
            <if test="sendTime != null">
                #{sendTime,jdbcType=TIMESTAMP},
            </if>
            <if test="enable != null">
                #{enable,jdbcType=VARCHAR},
            </if>
            <if test="changeTimeeKey != null">
                #{changeTimeeKey,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.inz.about.model.TempEmail">
        update temp_email
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="eKey != null">
                e_key = #{eKey,jdbcType=VARCHAR},
            </if>
            <if test="sendTime != null">
                send_time = #{sendTime,jdbcType=TIMESTAMP},
            </if>
            <if test="enable != null">
                enable = #{enable,jdbcType=VARCHAR},
            </if>
            <if test="changeTimeeKey != null">
                change_timee_key = #{changeTimeeKey,jdbcType=TIMESTAMP},
            </if>
        </set>
        where email_id = #{emailId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.inz.about.model.TempEmail">
    update temp_email
    set user_id = #{userId,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      e_key = #{eKey,jdbcType=VARCHAR},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      enable = #{enable,jdbcType=VARCHAR},
      change_timee_key = #{changeTimeeKey,jdbcType=TIMESTAMP}
    where email_id = #{emailId,jdbcType=VARCHAR}
  </update>

    <select id="findByEmail" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM temp_email
        WHERE email = #{email, jdbcType = VARCHAR} AND enable = '1'
    </select>
</mapper>